@charset "UTF-8";

body{
    width: 470px;
    height: 240px;
    display: grid;
    place-content: center;
    margin-top: 60px;
}
form{
    width: 300px;
    height: 340px;
    display: grid;
    place-content: center;
    background-color: lavender;
    color: black;
    border-radius: 20px;
    
}
input{
    height: 25px;
    width: 220px;
    border-color: lavender;
    border-radius: 12px;
    background-color: lavender;
    box-shadow: 0 0 5px 5px lavender;
    display: grid;
    margin-top: 5px;
    margin-bottom: 10px;
}

button{
    height: 30px;
    width: 230px;
    color: black;
    background-color: white;
    border-color: lavenderblush;
    border-radius: 12px;
    cursor: pointer;
}
h1{
    font-size: 34px;
    display: grid;
    place-content: center;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
