@charset "UTF-8";

table{
    width: 800px;
    border: 1px solid gray;
    border-collapse: collapse;
    font-family: "맑음 고딕";    
    font-size: 15px;
}

thead>tr>th{
    background-color: rgb(224, 232, 240);

}

tr,th,td{
    border: 1px solid gray;  
}
td:first-child, td:nth-child(3), td:nth-child(4),  td:nth-child(5){
    text-align: center;
}
tr:hover{
    background-color: yellow;
}
td:nth-child(2){
    text-align: left;
    width:500px;
}
a:link{
    color:blue;
}
a:visited{
    color:blue;
}