<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>mysite</title>
        <link href="../../assets/css/blog/board.css" rel="stylesheet">   
        <link href="../../assets/css/blog/list.css" rel="stylesheet">   

    </head>

    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>정우성의 블로그입니다.</h1>
                <button><a href="../site/login.html">로그인</a></button>
            </div>
            
            <div id="contents2" class="clearfix">
                <div id="aside">
                    <div id="hello">
                        <img src="../../assets/images/spring-logo.jpg">
                        <p>정우성(hijava)님</p>
                    </div>
                        <div id="category">
                            <p>카테고리</p>
                            <ul>
                                <li>카테고리5</li>
                                <li>카테고리4</li>
                                <li>카테고리3</li>
                                <li>카테고리2</li>
                                <li>카테고리1</li>
                                <li>미분류</li>
                            </ul>
                        </div>
               
                    </div>


                <div id="main">
                    <div class="clearfix">
                        <div>
                            <h3>08.페이징</h3>
                            <ul class="clearfix">
                                <li>정우성(hijava)님</li>
                                <li>2020/07/23</li>
                            </ul>
                            
                            <!-- <p>
                                대통령은 법률이 정하는 바에 의하여 사면,감형 또는 복권을 명할 수 있다.<br>
                                대통령의 임기는 5년으로 하며, 중임할 수 없다. <br>
                                법관은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지 아니하며, 징계처분에 의하지 아니하고는<br>
                                정직,감봉 기타 불리한 처분을 받지 아니한다.
                            </p> -->
                        </div>
                            
                           

                      
                            

                    </div>
                    
                   
                    
                    
                </div>


            

                <div id="footer">
                    <p>
                        Spring 이야기 is powered by JBlog (c)2024
                    </p>
                </div>
           
            </div>

    </body>    

</html>