<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>mysite</title>
        <link href="../../assets/css/blog/blog.css" rel="stylesheet">   
        <link href="../../assets/css/blog/writer.css" rel="stylesheet">   

    </head>

    <body>
        <div id="wrap">

            <div id="header" class="clearfix">
                <h1>정우성의 블로그입니다.</h1>
                <button><a href="../site/login.html">로그인</a></button>
            </div>
            
            <div id="contents" class="clearfix">
                
                <div id="menubox">
                    <ol>
                        <li><a href="setting.html">기본설정</a></li>
                        <li><a href="category.html">카테고리</a></li>
                        <li><a href="writer.html">글작성</a></li>                             
                    </ol>
                </div> 

                <div id="contents2">
                    <div id="line">
                       
                        <div id="postbox">
                            <label for="posttitle">포스트제목</label>
                            <input id="posttitle"type="text">
                            <select>
                                <option select="selected">자바프로그래밍</option>
                                <option>mysql</option>
                                <option>c언어</option>
                                <option>파이썬</option>
                            </select>
                        </div>

                        <div id="contentswrite">
                            <label for="writer">내용</label>
                        </div>
                        <textarea id="writer"></textarea>
                        
                    



                    </div>
                    <button>포트스하기</button>

                </div>   
                 


               
            </div>



            

            <div id="footer">
                <p>
                    <strong>Spring 이야기</strong> is powered by JBlog (c)2024
                </p>
            </div>
       
    </body>    

</html>