<!-- 일반방명록 -->
<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>mysite</title>
        <link href="../../assets/css/mysite.css" rel="stylesheet">
        <link href="../../assets/css/general-board.css" rel="stylesheet">

    </head>

    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>MySite</h1>
                
    
                <ul class="clearfix">
                    <li><a href="../users/login.html">로그인</a></li>
                    <li><a href="../users/join.html">회원가입</a></li>
                </ul>
            </div>
            
            <div id="nav">
                <ul class="clearfix">
                    <li><a href="">입사지원서</a></li>
                    <li><a href="list.html">게시판</a></li>
                    <li><a href="gallery.html">갤러리</a></li>
                    <li><a href="general-board.html">방명록</a></li>
                </ul>
            </div>

            <div id="contents2" class="clearfix">
                <div id="aside">
                    <h2>방명록</h2>
                    
                    <ul>
                        <li><a href="gallery.html">일반방명록</a></li>
                        <li><a href="">파일첨부연습</a></li>
                    </ul>
                </div>
                <div id="main">
                    <div class="clearfix line">
                        <h3>일반방명록</h3>
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>방명록</li>
                            <li>일반방명록</li>
                        </ol>
                    </div>
                    <div id="box">
                        <div id="clearfix">
                            <div id="name-box">
                                <label for="name">이름</label>
                                <input id="name" type="text">
                            </div>

                            <div id="pw-box">
                                <label for="pw">패스워드</label>
                                <input id="pw"type="password">
                            </div>
                        </div>
                        <div id="writer-box">
                            <textarea></textarea>
                        </div>

                        <div class="btn">
                            <button>등록</button>
                        </div>
                    </div>
                   

                    
                    <table>
                        <tr>
                            <td>1234555</td>
                            <td>이정재</td>
                            <td>2024-02-15 11:11:11</td>
                            <td>[삭제]</td>
                            
                        </tr>
                        <tr >
                            <td colspan=4>방명록 글입니다. 방명록 글입니다.</td>
                            
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>1234555</td>
                            <td>이정재</td>
                            <td>2024-02-15 11:11:11</td>
                            <td>[삭제]</td>
                            
                        </tr>
                        <tr >
                            <td colspan=4>방명록 글입니다. 방명록 글입니다.</td>
                            
                        </tr>
                    </table>
                    
                    

                </div>
            </div>

            <div id="footer">
                <p>
                    Copyright ⓒ2024 김아영 All right reserved
                </p>
            </div>
        </div>

    </body>    

</html>