@charset "UTF-8";

/* 공통  */

/* 여백 초기화 */
body, div,  dl, dt, ol, ul, li, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea,  button, form{
    margin: 0px;
    padding: 0px;
}

#wrap{width: 1000px; margin: 0px auto;  background-color: white;}

a:link{text-decoration: none; color: black;}
a:visited{text-decoration: none; color: black;}
a:hover{text-decoration: none; color: black;}
a:active{text-decoration: none; color: black;}

/* clearfix */
.clearfix:before, .clearfix:after {
    display: block; 
    content: ""; 
    line-height: 0;
}
.clearfix:after {
    clear: both;
}

/* ul ol */
ul,ol{list-style-type: none;}


/* body */
body{
    font-family: "맑은 고딕", 돋움;
    font-size: 12px;
  
}



/* header */
#header{
    border-bottom: 2px solid gray;
    padding: 20px 0px 0px 0px;
    
}
#header h1{
    float: left;
    font-size: 35px;
    color: greenyellow;
    margin-bottom: 15px;
}
#header ul{
    float: right;
}
#header ul>li{
    float:left;
    margin:24px 0px 0px 10px;

}
#header ul>li>a {
    height: 30px;
    padding: 3px 3px 3px 3px;
    font-size: 15px;
    border: 1px  solid black;
    background-color: rgb(238, 236, 236);
    border-radius: 3px;
    
}


/* nav */
#nav{   
    border-bottom: 1px solid gray;
}

#nav ul{
    padding: 15px 0px 15px 0px;
}

#nav ul>li{
    width: 250px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    float: left;
    
}


/* contents */
#contents{
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
}

#contents #profile{
    width: 300px;
    float: left;
}

#contents #greeting-box{
    float: left;
    font-size: 18px;
    padding-left: 30px;
}
#contents #greeting{
    font-weight: bolder;
    padding-bottom: 20px;
}
#contents a{
    font-weight: bolder;
}


/* footer */
#footer{
    margin: 10px 10px 10px 0px;
    padding: 10px 0px 10px 0px;

   text-align: center;
   background-color: #dddddd;
   
   width: 1000px;
   font-size: 15px;
}    


/* contents2 */
/* aside */
#contents2 #aside{
    width: 180px;
    float: left;
    
}
#contents2 #aside h2{
    width: 160px;
    height: 60px;
    line-height: 60px;
    background-color: #dddddd;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
#contents2 #aside ul{
    width: 160px;
}
#contents2 #aside ul>li{
    margin: 5px 0px 0px 0px;
    padding: 8px 0px 8px 10px ;
    border:1px solid #a6a6a6;
    font-size: 15px;
}



/* main */
#contents2 #main{
    float: left;
    width: 820px;
    padding-top: 20px;
}

#contents2 #main .line{
    border-bottom: 1px solid #dddddd;
}

#contents2 #main h3{
    font-size: 20px;
    font-weight: bolder;
    float: left;
}



#contents2 #main .line ol{
    float: right;
}
#contents2 #main .line ol>li{
    float: left;
}
#contents2 #main .line ol>li::after{
    content: ">";
}
#contents2 #main .line ol>li:last-child::after{
    content: none;
}


#main #find{
    float: right;
}


