@charset "UTF-8";

#contents{
    width: 300px;
    font-size: 13px;
    border: 1px solid #c0c0c0;
    margin-left: 44%;
}

#contents .id-group{
    margin-top: 25px;
}

#contents .pw-group{
    margin-top: 10px;
}

#contents input{
    padding: 6px 0px 6px 2px;
}

#contents #id{
    margin-left: 40px;
}

#contents #pw{
    margin-left: 28px;
}


#contents p{
    margin: 20px 0px 30px 0px;
}

.line{
    margin:0px 10px 0px 10px;
    border-bottom: 1px solid #c0c0c0;
}


#loginbt{
    margin: 8px 0px 30px 0px;

}

#loginbt button{
    width: 250px;
    padding: 10px 0px 10px 0px;
    /* border-radius: 5px;
    border:1px solid gray; */
}

#footer{
    margin-top: 50px;
}