<!DOCTYPE html>

<html lang="ko"> <!-- 한국어문서만 검색할때, 음성으로 할때 한국어 음성지원 -->
    <head>
        <meta charset="UTF-8"> <!-- 브라우저가 문서를 해석할때 필요한 정보 -->
        <title>MySite</title>
        <!-- 스타일시트자리 -->
        <link rel="stylesheet" href="../../assets/css/mysite.css">
    </head>
    <body>
        <div id="wrap">

            <!-- header -->
            <div id="header" class="clearfix">
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li><a href="">로그인</a></li>
                    <li><a href="">회원가입</a></li>
                </ul>

            </div>

                <!-- nav -gnb -->
                <div id="nav">
                    <ul class="clearfix">
                        <li><a href="">입사지원서</a></li>
                        <li><a href="">게시판</a></li>
                        <li><a href="">갤러리</a></li>
                        <li><a href="">방명록</a></li>
                    </ul>
                </div>
            
                <!-- contets2 -->
            <div id="contents2" class="clearfix">
                <div id="aside">
                   <h2>게시판</h2>
                   <ul>
                        <li><a href="">일반게시판</a></li>
                        <li><a href="">댓글게시판</a></li>
                   </ul>

                </div>

                <div id="main">
                    <div class="clearfix line">
                        <h3 >게시판</h3>
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>게시판</li>
                            <li>일반게시판</li>
                        </ol>
                    </div>
                    <div id="find">
                        <input type="text"><button>검색</button>
                    </div>


                </div>
            </div>
            
            
            
            <!-- footer -->
            <div id="footer" >
               <p>Copyright ⓒ 2024 김아영. All right reserved</p>
            </div>

        </div>
    </body>

</html>
